{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div>
    <h1>Ratio Test</h1>
    <h2>Enter Summand</h2>
    <form action="/" method="POST">
       <input type="text" name="summand" id="summand" value="{{ summand }}">
       <input type="submit" value="Compute">
    </form>
    <h2>{{ message }}</h2>
</div>

<div>
    <h1>Testimonials</h1>
    {% for test in tests %}
        <p>{{ test.content }}</p>
    {% endfor %}
    <p><a href="/testimonial/">Tell us your story</a></p>
</div>
{% endblock %}